$progress-prefix: '.built-in-progress';
$progress-prefix-small: '.built-in-progress-small';
$progress-prefix-big: '.built-in-progress-big';
$progress-prefix-stroke-round: '.built-in-progress-stroke-round';
$progress-prefix-stroke-squre: '.built-in-progress-stroke-sqare';
$progress-prefix-stroke-butt: '.built-in-progress-stroke-butt';
$progress-prefix-line: '.built-in-progress-line';
$progress-prefix-circle: '.built-in-progress-circle';
$progress-prefix-circle-left-bg-wrapper: '.built-in-progress-circle-left-bg-wrapper';
$progress-prefix-circle-left-bg: '.built-in-progress-circle-left-bg';
$progress-prefix-circle-right-bg-wrapper: '.built-in-progress-circle-right-bg-wrapper';
$progress-prefix-circle-right-bg: '.built-in-progress-circle-right-bg';
$progress-prefix-inner: '.built-in-progress-inner';
$progress-prefix-bg: '.built-in-progress-bg';
$progress-prefix-success-bg: '.built-in-progress-success-bg';
$progress-prefix-info: '.built-in-progress-info';

#{$progress-prefix} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  position: relative;
  line-height: 1;
  white-space: nowrap;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  #{$progress-prefix-inner} {
    position: relative;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: var(--trailColor);
    #{$progress-prefix-bg} {
      position: relative;
      background-color: orange;
      transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }
    #{$progress-prefix-success-bg} {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: #52c41a;
    }
  }
  #{$progress-prefix-info} {
    display: inline-block;
    width: 2em;
    margin-inline-start: 8px;
    color: rgba(0, 0, 0, 0.88);
    line-height: 1;
    white-space: nowrap;
    text-align: start;
    vertical-align: middle;
    word-break: normal;
  }
}
#{$progress-prefix-line} {
  position: relative;
  width: 100%;
  height: 8px;
  font-size: 14px;
  margin-inline-end: 8px;
  margin-bottom: 8px;
  &#{$progress-prefix-stroke-round} {
    #{$progress-prefix-inner},
    #{$progress-prefix-bg},
    #{$progress-prefix-success-bg} {
      border-radius: 100px;
    }
  }
  #{$progress-prefix-inner} {
    height: 8px;
  }
  &#{$progress-prefix-small} {
    font-size: 12px;
    height: 6px;
    #{$progress-prefix-inner} {
      height: 6px;
    }
  }
  &#{$progress-prefix-big} {
    height: 20px;
    #{$progress-prefix-inner} {
      height: 20px;
    }
  }
}
#{$progress-prefix-circle} {
  position: relative;
  font-size: 15px;
  #{$progress-prefix-inner} {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: transparent;
    &::before {
      content: '';
      width: 100%;
      border-radius: 50%;
      border: 5px solid var(--trailColor);
    }
    #{$progress-prefix-circle-left-bg},
    #{$progress-prefix-circle-right-bg} {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 200%;
      border-radius: 50%;
      border: 5px solid transparent;
      box-sizing: border-box;
    }
    #{$progress-prefix-circle-left-bg-wrapper} {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 50%;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200%;
        border-radius: 50%;
        border: 5px solid transparent;
        border-right-color: var(--trailColor);
        border-top-color: var(--trailColor);
        transform: var(--leftRotation);
        box-sizing: border-box;
        box-sizing: border-box;
      }
      #{$progress-prefix-circle-left-bg} {
        left: 0;
        // border-left-color: var(--borderColor);
        // border-bottom-color: var(--borderColor);
        // transform: var(--leftRotation);
        background: linear-gradient(to right, white, white), var(--backgroundColorLeft);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
      }
    }
    #{$progress-prefix-circle-right-bg-wrapper} {
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 0;
      right: 0;
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200%;
        right: 0;
        border-radius: 50%;
        border: 5px solid transparent;
        border-left-color: var(--trailColor);
        border-bottom-color: var(--trailColor);
        transform: var(--rightRotation);
        box-sizing: border-box;
      }
      #{$progress-prefix-circle-right-bg} {
        right: 0;
        background: linear-gradient(to right, white, white), var(--backgroundColorRight);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        // border-right-color: var(--borderColor);
        // border-top-color: var(--borderColor);
        // transform: var(--rightRotation);
      }
    }
  }
  #{$progress-prefix-info} {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      segoe ui,
      Roboto,
      helvetica neue,
      Arial,
      noto sans,
      sans-serif,
      apple color emoji,
      segoe ui emoji,
      segoe ui symbol,
      noto color emoji;
    font-weight: 500;
  }
  &#{$progress-prefix-small} {
    #{$progress-prefix-inner} {
      width: 20px;
      height: 20px;
      font-size: 9px;
      &::before {
        border-width: 3px;
      }
      #{$progress-prefix-circle-left-bg},
      #{$progress-prefix-circle-right-bg} {
        border-width: 3px;
      }
      #{$progress-prefix-circle-left-bg-wrapper} {
        &::after {
          border-width: 3px;
        }
      }
      #{$progress-prefix-circle-right-bg-wrapper} {
        &::after {
          border-width: 3px;
        }
      }
    }
  }
  &#{$progress-prefix-big} {
    #{$progress-prefix-inner} {
      width: 120px;
      height: 120px;
      font-size: 24px;
      &::before {
        border-width: 7px;
      }
      #{$progress-prefix-circle-left-bg},
      #{$progress-prefix-circle-right-bg} {
        border-width: 7px;
      }
      #{$progress-prefix-circle-left-bg-wrapper} {
        &::after {
          border-width: 7px;
        }
      }
      #{$progress-prefix-circle-right-bg-wrapper} {
        &::after {
          border-width: 7px;
        }
      }
    }
  }
}
