$checkbox-prefix: '.built-in-checkbox';
$checkbox-prefix-checked: '.built-in-checkbox-checked';
$checkbox-wrapper: '.built-in-checkbox-wrapper';
$checkbox-wrapper-disabled: '.built-in-checkbox-wrapper-disabled';
$checkbox-inner: '.built-in-checkbox-inner';
$checkbox-input: '.built-in-checkbox-input';

$checkbox-group-prefix: '.built-in-checkbox-group';

#{$checkbox-group-prefix} {
  display: inline-flex;
  flex-direction: var(--checkboxFlexDirection);
  align-items: baseline;
  justify-content: center;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  list-style: none;
}

// checkbox
#{$checkbox-wrapper} {
  position: relative;
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 0;
  margin-inline-end: 8px;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  list-style: none;
  cursor: pointer;
  #{$checkbox-prefix} {
    position: relative;
    #{$checkbox-inner} {
      box-sizing: border-box;
      position: relative;
      top: 0;
      inset-inline-start: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      border-collapse: separate;
      transition: all 0.3s;
      &::after {
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        inset-inline-start: 21.5%;
        display: table;
        width: 5.7142857142857135px;
        height: 9.142857142857142px;
        border: 2px solid #fff;
        border-top: 0;
        border-inline-start: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        opacity: 0;
        content: '';
        transition:
          all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
          opacity 0.1s;
      }
    }
    #{$checkbox-input} {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      padding: 0;
      margin: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      //pointer-events: none;
    }
    & + * {
      padding-inline-start: 8px;
      padding-inline-end: 8px;
    }
  }
  #{$checkbox-prefix-checked} {
    #{$checkbox-inner} {
      background-color: orange;
      border-color: orange;
      &::after {
        opacity: 1;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
      }
    }
  }
}

#{$checkbox-wrapper}:hover #{$checkbox-inner} {
  border-color: orange;
}

#{$checkbox-wrapper-disabled} {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  #{$checkbox-prefix} {
    cursor: not-allowed;
    #{$checkbox-inner} {
      background-color: rgba(0, 0, 0, 0.04);
      border-color: #d9d9d9;
      cursor: not-allowed;
      &::after {
        border-color: rgba(0, 0, 0, 0.25);
      }
    }
    #{$checkbox-input} {
      cursor: not-allowed;
    }
  }
}
