$checkbox-prefix:".built-in-checkbox";

#{$checkbox-prefix}{
    position: relative;
    line-height: 1;
    white-space: nowrap;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

